<h5>Yahoo Refresh Token</h5>
<a href="/yahoorefreshtoken">
    <button>Click</button>
</a>


<h5>Generate Signature</h5>
<a href="/signature">
    <button>Click</button>
</a>


<p>@ViewData["SessionToken"]</p>