@model BaseballScraper.Models.PlayerNote


<h1>Player Notes</h1>

<a asp-action="Index">Home</a>

<form asp-controller="PlayerNote" asp-action="CreateNote" method="POST">

    <label>Player Name</label>
    <input asp-for="PlayerName" value="katie">
    <br>

    <label>Position</label>
    <input for="Position" id="Position" name="Position" type="text" value="sp">
    <br>

    <label>Position Type</label>
    <input for="PositionType" id="PositionType" name="PositionType" type="text" value="pitcher">
    <br>

    <label for="Note">Note</label>
    <input for="Note" id="Note" name="Note" type="text">
    <br>
    <!--
    <label asp-for="NoteTone">Note Tone</label>
    <input asp-for="NoteTone" id="NoteTone" name="NoteTone" type="text">
    <br>

    <label asp-for="SourceSite">Source Site</label>
    <input asp-for="SourceSite" id="SourceSite" name="SourceSite" type="text">
    <br>

    <label asp-for="NoteWriter">Writer </label>
    <input asp-for="NoteWriter" id="NoteWriter" name="NoteWriter" type="text">
    <br>

    <label asp-for="CalendarYear">Calendar Year </label>
    <input asp-for="CalendarYear" id="CalendarYear" name="CalendarYear" type="text">
    <br>

    <label asp-for="MlbSeason">Season </label>
    <input asp-for="MlbSeason" id="MlbSeason" name="MlbSeason" type="text">
    <br> -->

    <a asp-action="CreateNote">Create Note</a>
    <input type="submit" name="CreateNote" id="CreateNote" value="Save" class="btn btn-default" />
    <button type="submit">Save</button>
    <a href="https://127.0.0.1:5001/playernote/create ">Create Note </a>
    <br>

</form>