@model BaseballScraper.Models.Player.PlayerNote

<h1>Player Notes</h1>

<div class="row">
    <form action="form/createplayernote" method="POST">
        <div class="col">
            <label asp-for="PlayerNote.PlayerName">Player Name</label>
            <input asp-for="PlayerNote.PlayerName" class="form-control" type="text">
            <br>

            <div class="row">
                <div class="col">
                    <label asp-for="PlayerNote.Position">Position</label>
                    <input asp-for="Position" class="form-control" type="text">
                </div>
                <div class="col">
                    <label asp-for="PositionType">Position Type</label>
                    <input class="form-control" type="text">
                </div>
            </div>
            <br>

            <label for="Note">Note</label>
            <input class="form-control" type="text">
            <br>

            <label for="NoteTone">Note Tone</label>
            <input class="form-control" type="text">
            <br>

            <div class="row">
                <div class="col">
                    <label for="SourceSite">Site</label>
                    <input class="form-control" type="text">
                </div>
                <div class="col">
                    <label for="NoteWriter">Article Writer</label>
                    <input class="form-control" type="text">
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col">
                    <label for="CalendarYear">Calendar Year</label>
                    <input class="form-control" type="Date">
                </div>
                <div class="col">
                    <label for="MlbSeason">Season</label>
                    <input class="form-control" type="Date">
                </div>
            </div>

            <button>Add Note</button>

        </div>
    </form>
</div>