@{
ViewData["Title"] = "Player Bases";
}


<hr style="border: 1px solid slateblue">
<h3><b>@ViewData["Title"]</b></h3>
<hr style="border: 1px solid slateblue">
<br>

<hr style="border: 1px solid slateblue">
<h3><b>@ViewData["Title"]</b></h3>
<hr style="border: 1px solid slateblue">
<br>

<table class="table">
<thead>
    <tr>
        <th>Player Name</th>
        <th>Position</th>
    </tr>
</thead>
<tbody>
</tbody>

</table>
