@model BaseballScraper.Models.ViewModels.TransactionTrendsViewModel

@{
    ViewData["Title"] = "Transaction Trends";
}

<hr style="border: 1px solid slateblue">
<h3><b>@ViewData["Title"]</b></h3>
<hr style="border: 1px solid slateblue">
<br>



