@{ ViewData["Title"] = "Home Page"; }

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
    <a href="/yahoo/authorizewind">Reload Yahoo Auth Home Page</a>
    <h4>Yahoo Auth</h4>
    <table>
        <tr>
            <th>Button</th>
            <th>Purpose</th>
            <th>Route</th>
        </tr>
        <tr>
            <td>
                <a href="/yahoo/authorize/authorizationcode">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Authorization Code</td>
            <td> /yahoo/authorize/authorizationcode</td>
        </tr>
        <tr>
            <td>
                <a href="/yahoo/authorize/accesstokenrequest">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Access Token</td>
            <td> /yahoo/authorize/accesstokenrequest</td>
        </tr>
        <tr>
            <td>
                <a href="/yahoo/authorize/accesstokenjobject">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Access Token</td>
            <td> /yahoo/authorize/accesstokenjobject</td>
        </tr>
        <tr>
            <td>
                <a href="/yahoo/authorize/accesstokenresponse">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Access Token Response</td>
            <td> /yahoo/authorize/accesstokenresponse</td>
        </tr>
        <tr>
            <td>
                <a href="/yahoo/authorize/checkyahoosession">
                    <button>Click</button>
                </a>
            </td>
            <td>Check Yahoo Session</td>
            <td> /yahoo/authorize/checkyahoosession</td>
        </tr>
    </table>
    <br>

    <h4>Yahoo Collections/Resources</h4>
    <table>
        <tr>
            <th>Button</th>
            <th>Purpose</th>
            <th>Route</th>
        </tr>
        <tr>
            <td>
                <a href="yahoo/team/teambase/listof10">
                    <button>Click</button>
                </a>
            </td>
            <td>Loop Teams</td>
            <td> /yahoo/team/teambase/listof10</td>
        </tr>
        <tr>
            <td>
                <a href="yahoo/team/teambase/queryuri">
                    <button>Click</button>
                </a>
            </td>
            <td>Set Uri To Query</td>
            <td> /yahoo/team/teambase/queryuri</td>
        </tr>
        <tr>
            <td>
                <a href="yahoo/team/teambase/json">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Team Base JSON</td>
            <td> /yahoo/team/teambase/json</td>
        </tr>
        <tr>
            <td>
                <a href="yahoo/team/teambase/model">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Team Base Model</td>
            <td> /yahoo/team/teambase/model</td>
        </tr>
        <!-- <tr>
            <td>
                <a href="yahoo/team/teambase/hashtable">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Team Base Hashtable</td>
            <td> /yahoo/team/teambase/hashtable</td>
        </tr>
        <tr>
            <td>
                <a href="yahoo/team/stats/model">
                    <button>Click</button>
                </a>
            </td>
            <td>Get Team Stats Model</td>
            <td> /yahoo/team/stats/model</td>
        </tr>
        <tr>
            <td>
                <a href="yahoo/team/testing">
                    <button>Click</button>
                </a>
            </td>
            <td>Yahoo Team Testing</td>
            <td> /yahoo/team/testing</td>
        </tr> -->
    </table>


    <!-- <tr>
            <td>
                <a href="/yahoo/refreshtoken">
                    <button>Click</button>
                </a>
            </td>
            <td>Refresh Token</td>
            <td> /yahoo/refreshtoken</td>
        </tr> -->


    <!-- <tr>
            <td>
                <a href="yahoo/simulate">
                    <button>Click</button>
                </a>
            </td>
            <td>Simulate</td>
            <td> /yahoo/simulate</td>
        </tr> -->

</body>

</html>