<h1>Player Base</h1>

<table class="table">
    <tr>
        <th>#</th>
        <th>Mlb ID</th>
        <th>Mlb Name</th>
        <th>Mlb Position</th>
        <th>Mlb Team</th>
        <th>Mlb Team Long</th>
        <th>Bats</th>
        <th>Throws</th>
        <th>Birth Year</th>
    </tr>
    <tr>
        <td>1</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>